.line {
    fill: none;
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 2px;
}

.area {
    fill: rgba(255, 255, 255, 0.1);
}

.dot {
    fill: #fff;
    stroke: rgb(71, 140, 204);
    stroke-width: 3px;
}

.domain {
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 2px;
}

.tick line {
    display: none;
}

.graph text {
    fill: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
}
